<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <div style="margin: 15% 40%;">
        <h1>欢迎登录！</h1>
        <form action="/login/" method="post">
            <p>
                <label for="id_username">用户：</label>
                <input type="text" id="id_username" name="username" placeholder="用户名" autofocus REQUIRED>
            </p>
            <P>
                <label for="">密码：</label>
                <input type="password" id="id_password" name="password" placeholder="密码" required>
            </P>
            <input type="submit" name="submit" value="确认">
        </form>

    </div>
</body>
</html>